body{
    font-family: Arial sans-serif;
    text-align: center;
    margin: 20px;
}

h2{
    color: #333;
}

        img {
            width: 200px;
            height: 200px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }
        img:hover {
            border-color: #007bff;
            cursor: pointer;
        }

.templates{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 5%;
}

